In [1]:
# 使用tushare 下载数据

import tushare as ts
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

# 设置token
ts.set_token('4167d168dd2c182108319b0f5fc93d66b21d5ccf2baa2af2a522b80d')
pro = ts.pro_api()

In [4]:
# 获取中国基准利率
df = pro.shibor(start_date='20100101', end_date='20200101')
df = df[['date', 'on', '1w', '2w', '1m', '3m', '6m', '9m', '1y']]
# df = df.rename(columns={'on': 'ON', '1w': '1W', '2w': '2W', '1m': '1M', '3m': '3M', '6m': '6M', '9m': '9M', '1y': '1Y'})
df = df.set_index('date')
df = df.astype('float')
df = df.sort_index()
df = df / 100
# save
df.to_csv('../data/train/base_rate.csv')

In [5]:
# 获取中国基准利率
df = pro.shibor(start_date='20200101', end_date='20230101')
df = df[['date', 'on', '1w', '2w', '1m', '3m', '6m', '9m', '1y']]
# df = df.rename(columns={'on': 'ON', '1w': '1W', '2w': '2W', '1m': '1M', '3m': '3M', '6m': '6M', '9m': '9M', '1y': '1Y'})
df = df.set_index('date')
df = df.astype('float')
df = df.sort_index()
df = df / 100
# save
df.to_csv('../data/test/base_rate.csv')

In [6]:
df.head()

,on,1w,2w,1m,3m,6m,9m,1y
date,,,,,,,,
20200102,0.014436,0.02433,0.02334,0.028975,0.02994,0.03019,0.03052,0.03086
20200103,0.011620,0.02349,0.02190,0.028420,0.02960,0.02995,0.03028,0.03071
20200106,0.010030,0.02219,0.02091,0.027470,0.02920,0.02960,0.03005,0.03050
20200107,0.012150,0.02259,0.02176,0.027000,0.02899,0.02943,0.02992,0.03040
20200108,0.015530,0.02320,0.02160,0.026380,0.02881,0.02930,0.02983,0.03032

In [ ]:
#